header {
  text-align: center;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  flex-direction: column;
}

header {
  background: red;
  color: white;
  font-weight: bolder;
  padding: 50px;
}

.welcome {
  color: black;
}
